* {
    background-color: gray;
}

#start-quiz {
    background-color: #FF5C45;
    color: #402614;
    font-weight: bolder;
    padding: 14px 40px;
    font-size: 30px;
    border-radius: 40px;
    border: none;
}

.answer-list {
    color: #275DB3;
    list-style-type: none;
    font-weight: bolder;
    border: 2px #402614 solid;
    
};

.welcomeEl {
    font-weight: bolder;
    color: blue;
}

.quiz-content {
    text-align: center;
    max-width: 100%;
}; 

header p {
    font-weight: bold;
}
