body {
    text-align: center;
}

#start-quiz {
    background-color: #FF5C45;
    color: #402614;
    font-weight: bolder;
    padding: 14px 40px;
    font-size: 30px;
    border-radius: 40px;
    border: none;
}

.answer-list {
    color: #275DB3;
    list-style-type: none;
    font-weight: bolder;
}



.quiz-content {
    text-align: center;
}

.quiz-content ul li {
    border: 2px black solid;
    border-radius: 15px;
    text-align: center;
    margin-left: 35%;
    padding: 20px;
    max-width: 25%;

}; 